img{
    background-color: white;
}

.nav-bar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15%;
}

button{
    margin: 1% 1%;
    border: none;
    cursor: pointer;
}

.main-container{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: xx-large;
    margin: -28% 0% 0% 48%;
}

.info-container{
    display: flex;
    justify-content: space-around;
    margin-top: 8%;
}

.count-container{
    display: flex;
    justify-content: space-around;
    color: white;
}

.count-value{
    margin-left: -90%;
}