*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2c3e50;
}

.nav-bar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20%;
}

.nav-bar button{
  background-color: transparent;
  border: none;
  outline: none;
}

.icon1{
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

.icon2{
  text-decoration: none;
  color: white;
  font-size: 2rem;
  padding-left: 5px;
}

.icon3{
  text-decoration: none;
  color: white;
  font-size: 2rem;
  padding-left: 5px;
}